In [1]:
import numpy as np
import pandas as pd

In [129]:
df = pd.read_html('http://www.nationsonline.org/oneworld/currencies.htm')[2:7]
df[0]
for each in df:
    each.drop([0, 4, 5], axis=1, inplace=True)
    each.columns = each.iloc[0]
df = pd.concat(df)
df.head()

0                                            Country   Currency Name  Code A
0                                            Country   Currency Name  Code A
1  1 Japanese Yen 2 Ethiopian Birr  1. U.S. Dolla...             NaN     NaN
2                                        Afghanistan         Afghani     AFN
3                                            Albania             Lek     ALL
4                                            Algeria  Algerian Dinar     DZD

In [127]:
df2 = pd.read_html('http://www.nationsonline.org/oneworld/countries-classification.htm')[2]
df2.drop([0, 1, 4, 5, 6], axis=1, inplace=True)
df2.columns = df2.iloc[0,:]
for i, country in enumerate(df2['Country']):
    df2.loc[i, 'Country'] = country.replace('*', '')
df2.drop(0, inplace=True)
df2

0                   Country Ctry Code
1               Afghanistan       AFG
2                   Albania       ALB
3                   Algeria       DZA
4                   Andorra       AND
5                    Angola       AGO
6       Antigua and Barbuda       ATG
7                 Argentina       ARG
8                   Armenia       ARM
9                 Australia       AUS
10                  Austria       AUT
11               Azerbaijan       AZE
12                  Bahamas       BHS
13                  Bahrain       BHR
14               Bangladesh       BGD
15                 Barbados       BRB
16                  Belarus       BLR
17                  Belgium       BEL
18                   Belize       BLZ
19                    Benin       BEN
20                  Bermuda       BMU
21                   Bhutan       BTN
22                  Bolivia       BOL
23   Bosnia and Herzegovina       BIH
24                 Botswana       BWA
25                   Brazil       BRA
26        Brunei Darussalam       BRN
27                 Bulgaria       BGR
28             Burkina Faso       BFA
29                  Burundi       BDI
30                 Cambodia       KHM
..                      ...       ...
162                   Sudan       SDN
163                Suriname       SUR
164               Swaziland       SWZ
165                  Sweden       SWE
166             Switzerland       CHE
167                   Syria       SYR
168              Tajikistan       TJK
169                Tanzania       TZA
170                Thailand       THA
171             Timor-Leste       TMP
172                    Togo       TGO
173                   Tonga       TON
174     Trinidad and Tobago       TTO
175                 Tunisia       TUN
176                  Turkey       TUR
177            Turkmenistan       TKM
178                  Uganda       UGA
179                 Ukraine       UKR
180    United Arab Emirates       ARE
181          United Kingdom       GBR
182           United States       USA
183                 Uruguay       URY
184              Uzbekistan       UZB
185                 Vanuatu       VUT
186               Venezuela       VEN
187                 Vietnam       VNM
188      West Bank and Gaza       PSE
189         Yemen, Republic       YEM
190                  Zambia       ZMB
191                Zimbabwe       ZWE

[191 rows x 2 columns]